<h1>{{game.name}}</h1>

<div class="col-sm-4 col-xl-4 col-xs-4">
  <dice-manager [dices]="game._dices" [idGame]="game._id"></dice-manager>
</div>

<div class="col-sm-4 col-xl-4 col-xs-4">
  <monster-manager [monsters]="game._monsters" [idGame]="game._id" (onSelected)="setCurrentMonster($event)"></monster-manager>
</div>

<div *ngIf="currentMonster" class="col-sm-4 col-xl-4 col-xs-4">
  <h3>Detail de : {{currentMonster.name}}</h3>
  <dice-manager [dices]="currentMonster._dices" [idMonster]="currentMonster._id"></dice-manager>
</div>