.dice__roll-button{
    height: 100%;
}

span > input {
    width: 50px;
    border-radius: 5px;
    text-align: center;
}

span > select {
    border-radius: 7px;
}

.dice-component {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  & > .form-child {
      flex-grow: 1;
      display: inline-flex;
  }
  & > .delete-button {
    flex-shrink: 1;
    & > button {
    height: 100%;
    background-color: #BF2B20;
    }
  }
}

.cta {
  background-color: #2B78FE;
  color: white;
}

mat-card {
  margin-bottom: 15px;
}

.dice-title{
  display: inline;
}

.dice-title-edit {
  display: inline;
  & > input {
    width: calc(100% - 100px);
  }
}

.small {
  font-size: 16px;
  padding-left: 10px;
  cursor: pointer;
}