<mat-card>
  <!-- Dice Title-->
  <div *ngIf="!editionMode" class="dice-title">
    <span>{{dice.name}}</span>
    <span (click)="editionMode=true" class="material-icons small">edit</span>
  </div>
  <form *ngIf="editionMode" class="dice-title-edit">
    <input [(ngModel)]="dice.name" name="diceName" placeholder="name">
    <button (click)="editionMode=false; updateDice();" class="material-icons small">check</button>
  </form>

  <!-- Dice differents forms-->
  <div class="dice-component">
    <form>
      <div class="form-child">
        <span>
          <input
            [(ngModel)]="dice.number"
            type="number"
            name="diceNumber"
            placeholder="Nb Dice : "
            min="1">
        </span>

        <span>
          <select name="diceType" [(ngModel)]="dice.type">
            <option *ngFor="let diceType of [2,3,4,6,8,10,12,20,100]" [value]="diceType" [selected]="diceType==dice.type">
              D{{diceType}}
            </option>
          </select>
        </span>

        <span>
          +
          <input
            [(ngModel)]="dice.bonus"
            type="number"
            name="diceBonus"
          >
        </span>

        <button (click)="rollDices()" class="material-icons cta">subdirectory_arrow_left</button>
      </div>
    </form>

    <div class="delete-button">
      <button (click)="selfDelete()" class="material-icons">delete_outline</button>
    </div>
  </div>

  <!-- Dice message on click-->
  <div  *ngIf="resultMessage">
    <label>Result: {{resultMessage}} </label>
  </div>
</mat-card>