<div class="sidenav">
  <div class="background-container">
    <div class="background-item" *ngFor="let url of avaliableBackgrounds">
        <span *ngIf="url === selectedBackground">></span>
      <img src="{{url}}" alt="Fond" class="avaliable-square-background-picture" (click)="selectedBackground = url;"/>
      <span *ngIf="url === selectedBackground"><</span>
    </div>
  </div>
</div>

<div class="main">
  <div class="line" *ngFor="let item of map ; index as i">
    <div class="square" *ngFor="let sub of item ; index as j;" (click)="onClick(i,j)">
      <img src="{{sub}}" alt="Case" class="square-background-picture"/>
    </div>
  </div>
</div>