.dice-manager__add-button{
    font-size: 34px;
    color: grey;
    margin-left: 45%;
    padding-top: 5px;
    transition: all .2s ease-in-out;
}

.dice-manager__add-button:hover {
    transform: scale(1.2);
}

mat-card {
    margin-bottom: 15px;
}